@{
    ViewBag.Title = "Risk Category";
}
<table style="position: relative; left: 100px; top: 50px;">
    <tr>
        <td>
            <img src="@Url.Action("GetPieChart", "Chart")" />
        </td>
        <td>
            <img src="@Url.Action("GetBarChart", "Chart")" />
        </td>
    </tr>
</table>